@mixin display-1 {
  @include text(
    $weight: 200,
    $size: 36px,
    $line-height: 48px
  );

  small {
    @include text(
      $weight: 400,
      $size: 18px,
      $line-height: 48px
    );
  }
}

@mixin display-2 {
  @include text(
    $weight: 200,
    $size: 22px,
    $line-height: 29px
  );

  @include MQ(M) {
    @include text(
      $weight: 200,
      $size: 22px,
      $line-height: 29px
    );
  }
}

@mixin display-3 {
  @include text-cap(
    $size: 22px,
    $line-height: 29px
  );
}

@mixin display-4 {
  @include text-cap(
    $size: 12px,
    $line-height: 18px
  );
}

@mixin header-1 {
  @include text(
    $weight: 600,
    $size: 30px,
    $line-height: 40px
  );
}

@mixin header-2 {
  @include text(
    $weight: 600,
    $size: 22px,
    $line-height: 29px
  );
}

@mixin header-3 {
  @include text(
    $weight: 600,
    $size: 18px,
    $line-height: 26px
  );
}

@mixin paragraph {
  @include text(
    $size: 18px,
    $line-height: 26px
  );
}

@mixin paragraph-md {
  @include text(
    $size: 16px,
    $line-height: 23px
  );
}

@mixin paragraph-sm {
  @include text(
    $size: 15px,
    $line-height: 22.5px
  );
}

@mixin paragraph-xs {
  @include text(
    $size: 14px,
    $line-height: 20px
  );
  color: gray-5();
}

@mixin action-1 {
  @include text-cap(
    $size: 14px
  );
  @include link;
}

@mixin action-2 {
  @include text-cap(
    $size: 12px
  );
  @include link;
}
