<!DOCTYPE html>
<html lang="en" ng-app="styleguide">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Portfolio</title>
  <base href="/styleguide">
</head>
<body ng-cloak ng-view>
  <!-- <div class="styleguide">
    <div ng-view class="component"></div>
    <nav>
      <div class="menu-item"
      ng-repeat="component in components"
      ng-click="setComponent(component)"
      ng-class="{'selected': component.title == activeComponent}"> {{component.title}}</div>
    </nav>
  </div> -->
<script src="bundle.js"></script>
</body>
</html>
