@import './components/core/';
@import './components/typography/';

@import './components/avatar/';
@import './components/cards/';
@import './components/checkboxes/';
@import './components/illustration/';
@import './components/infotips/';
@import './components/loaders/';
@import './components/menus/';
@import './components/radiobuttons/';
@import './components/selectmenus/';
@import './components/tables/';
@import './components/textfields/';

[ng-cloak] {
  display: none;
}

html,
body {
  background-color: gray-1();
  margin: 0;

  div { box-sizing: border-box; }

  h1.display-2 {
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    span {
      font-weight: 600;
      text-transform: none;
    }

    @include MQ(M) {
      padding-left: 25px;
    }

    @include MQ(L) {
      padding-left: 50px;
    }
  }
}

.styleguide {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  padding: 0 10px;

  @include MQ(M) {
    padding: 0 25px 25px;
  }

  @include MQ(L) {
    padding: 0 50px 50px;
  }


  nav {
    display: none;
    width: 250px;
    margin-bottom: 20px;

    @include MQ(L) {
      display: block;
    }

    .menu-item {
      @include paragraph;
      border-radius: 5px;
      transition: 300ms smooth();
      padding: 5px 20px;

      &:hover {
        background-color: lighten(blue-1(), 15%);
        cursor: pointer;
      }

      &.selected {
        background-color: blue-2();
        color: white();
      }
    }
  }

  .component {
    width: 100%;

    > section {
      @include card;
      height: 100%;
      margin-bottom: 20px;
    }

    @include MQ(L) {
      width: calc(100% - 300px);
      margin-right: 50px;
    }

    .module-header {
      display: flex;
      align-items: center;
      height: 65px;
      border-bottom: border();
      justify-content: space-between;

      &.no-border {
        border-bottom: border-transparent();
      }

      h2 {
        padding-left: 25px;
      }
    }

    .module-body {
      padding: 25px;

      > p {
        margin: 25px 0 10px;
      }

      > p:first-child {
        margin-top: 0;
      }
    }

  }
}

pre {
  border: 0;
  border-left: 8px solid lighten(blue-1(), 15%);
  border-radius: 0;
  background: gray-1();
  padding: 20px;
  margin: 20px 0;
  overflow-y: scroll;
}
