#introduction {
  display: flex;
  align-items: flex-start;
  max-width: 1020px;
  flex-wrap: wrap;
  margin: 0 auto;

  .img,
  img {
    width: 100%;
    max-width: 420px;
    height: 280px;
    box-shadow: shadow-1();
    background: white();
  }

  .content {
    max-width: 100%;
    margin-top: 2em;
  }
}
