#introduction {
  max-width: 1020px;
  margin: 2em auto;

  @include MQ(M) {
    margin: 15vh auto;
  }

  .img,
  img {
    width: 100%;
    max-width: 420px;
    height: 280px;
    box-shadow: shadow-1();
    animation: enter-from-below();
    background: white();
  }

  .content {
    max-width: 100%;
    animation: enter-from-below();
    margin-top: 2em;
  }
}

#components {
  max-width: 1020px;
  margin: 2em auto;

  h2 {
    text-align: center;
  }

}
