#introduction {
  max-width: 1020px;
  margin: 1em auto;

  @include MQ(M) {
    margin-top: 15vh;
  }

  .img,
  img {
    width: 100%;
    max-width: 420px;
    height: 280px;
    box-shadow: shadow-1();
    animation: enter-from-below();
    background: white();
  }

  .content {
    max-width: 100%;
    animation: enter-from-below();
    margin-top: 2em;
  }
}
