toolbar

section#introduction
  .img
  //- img(src="https://lh6.googleusercontent.com/rrqmS148_8iYR1NuQre3g0oQkyg1q52irrPkIQvzNfkfVcuvbCkfwRf0Kj_pdk_BYLoOtNp9lnKqXxuSYkti=w2022-h1830-rw" alt="Laura Weiner")
  .content
    h1.display-3 Laura Weiner
    p Front-end engineer with a strong understanding of and appreciation for UI design and usability.  
      | Focused on bringing microinteractions and fluidity to experiences which are both beautiful and simple. 
      | Considerate of how designs transform between desktop and mobile web, with a clear understanding of adaptive and responsive principles.
