@import './components/core/';

h1 {
  text-transform: uppercase;

  > span {
    display: none;
    font-weight: 400;
    text-transform: none;
    letter-spacing: none;
  }

  md-select {
    display: inline-block;
    text-transform: none;
  }

  @include MQ(M) {

    span {
      display: inline;
    }

    md-select {
      display: none;
    }
  }
}
