@function smooth() { @return cubic-bezier(.62, .28, .23, .99); }
@function elastic() { @return cubic-bezier(1, .01, .62, .98); }

@mixin stroke-dash($length: 1000) {
  stroke-dasharray: $length;
  stroke-dashoffset: $length;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes enterFromBelow{
  0% {
    opacity: 0;
    transform: translateY(3%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@function enter-from-below($duration: 700ms, $delay: 150ms) {
  @return enterFromBelow $duration smooth() $delay both;
}
